@using CRUD_Сlients_API.Models.Client;
@model List<Child>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="oi">
        @if (Model != null)
        {
            for (int i = 0; i < Model.Count; i++)
            //foreach(var child in Model)
            {
                <tr>
                    @*<input type="hidden" class="form-control" asp-for="child.id">*@
                    <td>
                        <input type="text" class="form-control" asp-for="@Model[i].name" />
                    </td>

                    <td>
                        <input type="text" class="form-control" asp-for="@Model[i].surname" />
                    </td>

                    <td>
                        <input type="text" class="form-control" asp-for="@Model[i].patronymic" />
                    </td>

                    <td>
                        <input type="date" class="form-control" asp-for="@Model[i].dob" />
                    </td>

                    <td>
                        <input type="button" class="form-control" id="delete" data-id="@Model[i].id" value="Del" />
                    </td>

                </tr>
            }
        }
    </tbody>
</table>