@page
@using CRUD_Сlients_API.Pages;
@using CRUD_Сlients_API.Models.Client;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Create
@{
    string strTitle = "Ntcn";
    ViewBag.Title = strTitle;
    Layout = "_Layout";
    //ClientInfoViewModel currTest = Model.currClient;
    //currTest.children = new List<Child>();
}
@*@{
    string strTitle = "Ntcn";
    ViewBag.Title = strTitle;
}*@
@*Html.AntiForgeryToken()*@
<h2>Добавление нового клиента</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="currClient.name">Имя:</label>
        <input asp-for="currClient.name" type="text" class="form-control" id="name" >
    </div>
    <div class="form-group">
        <label asp-for="currClient.surname">Фамилия:</label>
        <input asp-for="currClient.surname" type="text" class="form-control" id="surname">
    </div>
    <div class="form-group">
        <label asp-for="currClient.patronymic">Отчество:</label>
        <input type="text" class="form-control" id="patronymic" asp-for="currClient.dob">
    </div>
    <div class="form-group">
        <label asp-for="currClient.dob">Дата рождения:</label>
        <input type="date" class="form-control" id="dob" asp-for="currClient.dob">
    </div>

    <h3>Дети</h3>
    <div class="form-group">
        <input type="text" class="form-control" id="childName" placeholder="Имя">
        <input type="text" class="form-control" id="childSurname" placeholder="Фамилия">
        <input type="text" class="form-control" id="childPatronymic" placeholder="Отчество">
        <input type="date" class="form-control" id="childDob"><
        <button type="button" class="btn btn-primary add-child-btn">Добавить</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="oi">
@*            @if (Model.currClient.children != null)
            {
                foreach (var child in Model.currClient.children)
                {
                    <tr>
                        <td>@child.name</td>
                    <td>@child.surname</td>
                    <td>@child.patronymic</td>
                    <td>@child.dob.ToShortDateString()</td>
                    <td><button class="btn btn-danger delete-child-btn" data-child-id="@child.id">Delete</button></td>
                </tr>
                }
            }*@
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Создать</button>
</form>

@section scripts {
    @*Html.AntiForgeryToken();*@
    <script>
        $(function () {
            // Обработчик клика на кнопку "Добавить"
            $('.add-child-btn').click(function () {

                var child = {
                    name: $('#childName').val(),
                    surname: $('#childSurname').val(),
                    patronymic: $('#childPatronymic').val(),
                    dob: $('#childDob').val()
                };
                // Добавляем новый элемент Child в модель представления
                alert(child.name);
                //(currTest.children as List<Child>).Add(new Child() {name="dsfsfdfs"});
                var token = "@Xsrf.GetAndStoreTokens(HttpContext).RequestToken";
                $.ajax({
                    type: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "RequestVerificationToken": token
                    },
                    url: "/Create?handler=AddChild", //"Url.Page("Create","AddChild")", //"/Create?handler=AddChild",//'Url.Action(AddChild, Client)',
                    //contentType: "application/json",
                    //dataType: "json",
                    //data: { obj: child },
                    data: JSON.stringify(child),
                    success: function (result) {
                        alert("успез");
                    },
                    error: function (request, error) {
                        console.log(arguments);
                        alert(" Can't do because: " + error);
                    },

                });
                // Добавляем новый элемент Child в таблицу на странице
                $('#oi').append('<tr><td>' + child.name + '</td><td>' + child.surname + '</td><td>' + child.patronymic + '</td><td>' + child.dob + '</td><td><button type="button" id="dele">Delete</button></td></tr>');
            });
            // Обработчик клика на кнопку "Удалить"
            $('#dele').on('click', function () {
                //var childId = $(this).data('child-id');
                // Удаляем элемент Child из таблицы на странице
                //$(this).closest('tr').remove();
                alert("delete");
            });
        });
    </script>
}