@using CRUD_Сlients_API.Models.Client;
@using CRUD_Сlients_API.Models;

@model ClientRequestViewModel
@{
    string strTitle = "";
    ViewBag.Title = strTitle;
}

<div>
    <a asp-action="CreateClient" asp-controller="Client">Add Client</a></br>

    <form asp-controller="Client" method="post" asp-action="GetClients">

        <h2>@strTitle</h2>
        <div>
            <div class="div-box">
                @*<a asp-action="AddLinkForm">Add Link</a>*@
            

        
            <div class="form-group">
                <label class="control-label">sortBy</label>
                    @*<input type="text" name="sortBy" class="form-control" placeholder="@Model.request.">*@
                    <input asp-for="request.sortBy" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">sortDir</label>
                    @*<input type="text" name="sortDir" class="form-control" placeholder="@Model.request.">*@
                    <input asp-for="request.sortDir" class="form-control" value="@Model.request.sortDir" />
            </div>

            <div class="form-group">
                <label class="control-label">limit</label>
                @*<input type="number" name="limit" class="form-control" placeholder="">*@
                    <input asp-for="request.limit" class="form-control" placeholder="@Model.request.limit" />
            </div>

            <div class="form-group">
                <label class="control-label">page</label>
                @*<input type="number" name="page" class="form-control" placeholder="">*@
                    <input asp-for="request.page" class="form-control" placeholder="@Model.request.page" />
            </div>

            <div class="form-group">
                <input type="submit" value="get clients" class="btn btn-success" />
            </div>

       
        </div>
        </div>
    </form>
        @*        @if (Model.Any())
        {
*@
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(Model=>Model.data[0].name)
                        </th>
                        <th>
                        @Html.DisplayNameFor(Model=>Model.data[0].surname)
                        </th>
                        <th>
                        @Html.DisplayNameFor(Model=>Model.data[0].createdAt)
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.data.Count>0)
                        foreach (var emp in Model.data)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem=>emp.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem=>emp.surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem=>emp.updatedAt)
                                </td>
                                <td>
                                    <a asp-action="GetClinet" asp-route-id="@emp.id">GetClient</a>
                                    <a asp-action="DeleteClient" asp-route-id="@emp.id">Delete</a><br />
                                </td>
                            </tr>
                        }
                </tbody>

                </table>
            </div>
      
      
    </div>

    



