@using CRUD_Сlients_API.Models.Client;

@model ClientInfoViewModel
@{
    string strTitle = "Details";
    ViewBag.Title = strTitle;
 }
<h2>Details</h2>

    <h2>@strTitle</h2>
    <div>
        <div class="div-box">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>
                <dt>
                    @Html.DisplayFor(model => model.name)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.patronymic)
                </dt>
                <dt>
                    @Html.DisplayFor(model => model.patronymic)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.createdAt)
                </dt>
                <dt>
                    @Html.DisplayFor(model => model.updatedAt)
                </dt>

            </dl>


        </div>
    </div>

<div>
    <a asp-action="Edit">Update</a><br />
    <a asp-action="DeleteClient" asp-route-id="@Model.id">Delete</a><br />
    <a asp-action="Index">Back to List</a>
</div>